.h2{
  display: flex;
  width: 80%;
  margin: 0 auto;
  font-size: 30px;
  /* border: 1px solid #000; */
}
.arealist {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100px;
  margin: 0px auto;
  /* border: 1px solid #000; */
}

.all_area {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 10px auto;
}


.area {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
}


.area button {
  width: 120px;
  height: 40px;
  background-color:  #00D698;
  color: #4f4842;
  border-radius: 20px;
  border: 1px dashed  #fff;
  box-shadow: 0px 0px 0px 5px #00D698;

}

.area button:hover {
  opacity: 0.6;
}

.area p {
  margin: 0 auto;
  font-size: 18px;
  color: #fff;
}

@media screen and (max-width:960px) {
  .h2 {
    font-size: 25px;
  }
  .area {
  } 

  .area button {
    width: 75%;
    height: 100%;
  }
  .area p {
    font-size: 100%;
  }
}
