.p{
  width: 100%;
  margin-left: 5%;
  color: rgb(123, 116, 116);
}

.all_area {
  margin: 5%;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}

.area {
  margin: 5%;
}

.area button {
  width: 80px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 10px;
  border: 3px double  rgba(226, 143, 18, 0.3);
  background-color: white;
  color: rgb(77, 72, 72);

}

.area button:hover {
  opacity: 0.6;
}

@media screen and (max-width:960px) {
  .area button {
    width: 75%;
  }

}
