.breadList {
  display: block;
  margin: 3px auto; 
  position: absolute;
  left: 3%;
}

@media screen and (max-width:780px) {
  .breadList {
    position: absolute;
    top: 80px;
    left: 0 ;
  }

  .breadList li{
    display: inline;
    list-style: none;
    padding: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 1vw;
  }
}

@media only screen and (min-width:780px) and (max-width:1023px) {
  
  .breadList li{
    display: inline;
    list-style: none;
    padding: 0 10px;
    text-decoration: none;
    color: black;
  }
}


@media screen and (min-width:1024px) {
  
  .breadList li{
    display: inline;
    list-style: none;
    padding: 0 10px;
    text-decoration: none;
    color: black;
  }
}
