.concept{
    background-color: #f6f6f6;

}
.concept_food {
    height:auto;
    width: 84%;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
}
.concept_koala {
    position: relative;     
    width: 10%;
    height: auto;
}

.concept_text{
width: 60%;
height: 40%;
margin: 10%;
padding-left: 10%;
position: relative;
bottom: 250px;
right: 180px;
color: rgb(160, 178, 195);
font-size: 1.5vw;
}

/* フレックスボックスたち */



.flex_box{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 10px;
    flex-wrap: wrap;
}

.box{
  flex-direction: column;
  width: 30%;
  padding: 10px;
  margin: 10px 5px;
}

.img{
    max-width: 300px;
    height: auto;

}

.about h2{
font-size: 2.5vw;
text-align: center;
color: #E75304;
}
.howTo h2{
font-size: 2.5vw;
text-align: center;
color: #E75304;
}

.about,.howTo {
    border: solid 3px #f8b856;
    border-radius: 5px;
    margin: 30px;
}

.text p{
    font-size: 1vw;
    text-align: center;
    }


@media screen and (max-width:1001px) {
    .box{
        flex-direction: column;
        width: 100%;
        padding: 10px;
        margin: 10px 5px;
      }
  }


/* 今すぐはじめる */
  .start_flex_box {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 100px;
}

.start_box{
    flex-direction: center;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
  }

.start h2 {
    padding-top: 30px;
    color: #E75304;
    font-size: 2.5vw;
    text-align: center;
}

.start_box a{
    background-color: #F78404;
    padding: 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: 1.5vw;
}

@media screen and (max-width:1001px) {
.start_flex_box {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 100px;
    flex-wrap: wrap;
}
.start_box a{
    background-color: #F78404;
    padding: 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: 2vw;
}
}
