.concept{
    background-color: hsl(38, 98%, 83%);
    width: 100%;
}

.concept_title {
    position: relative;
}

.concept_title img{
    height:auto;
    width: 100%;
}
/* .concept_koala{
    position: absolute;     
    right: 50%;
    top:50%;
    transform: translate(-50%, -50%);
 } */

.concept_koala h2{
text-align: center;
color: #E75304;
font-size: 2.5vw;
}
.concept_koala h3{
text-align: center;
color: rgb(144, 112, 38);
font-size: 1.5vw;
}
.concept_koala img {
    width: 30%;
}

.concept_flex {
    position: absolute;
    height: auto;
    left: 50%;
    top:53%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

/* フレックスボックスたち */

.flex_box{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 10px;
    flex-wrap: wrap;
}

.box{
  flex-direction: column;
  width: 30%;
  padding: 10px;
  margin: 10px 5px;
}

.img{
    max-width: 300px;
    height: auto;

}

.about h2{
font-size: 2.5vw;
text-align: center;
color: #E75304;
}
.howTo h2{
font-size: 2.5vw;
text-align: center;
color: #E75304;
}

.about,.howTo {
    border: solid 3px #f8b856;
    border-radius: 5px;
    margin: 30px;
    background-color: rgba(255, 252, 232, 0.722);
}

.text p{
    font-size: 1vw;
    text-align: center;
    }


@media screen and (max-width:1001px) {
    .box{
        flex-direction: column;
        width: 100%;
        padding: 10px;
        margin: 10px 5px;
      }
  }


/* 今すぐはじめる */
  .start_flex_box {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 100px;
}

.start_box{
    flex-direction: center;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
  }

.start h2 {
    padding-top: 30px;
    color: #E75304;
    font-size: 2.5vw;
    text-align: center;
}

.start_box a{
    background-color: #F78404;
    padding: 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: 1.5vw;
}

@media screen and (max-width:1001px) {
.start_flex_box {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 100px;
    flex-wrap: wrap;
}
.start_box a{
    background-color: #F78404;
    padding: 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: 2vw;
}
}
