.concept{
    background-color: #fedfaa;
    width: 100%;

}
.concept_food {
    height:auto;
    width: 84%;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
}
.concept_koala {
    position: relative;     
    width: 20%;
    height: auto;
    left: 1200px;
    bottom: 250px;
    margin-bottom: -250px;
    
}

.concept_text{
width: 60%;
height: 40%;
margin: 10%;
padding-left: 10%;
position: relative;
bottom: 270px;  
margin-bottom: -270px;
right: 180px;
margin-right: -180px;
color: rgb(255, 255, 255);
font-size: 1.5vw;
-webkit-text-stroke-color: rgb(0, 0, 0);
-webkit-text-stroke-width: 0.2px;

}

.concept_goToUserResister{
    text-align: center;
}

.concept_goToUserResister input{
    border: none;
    background-color: rgba(176, 242, 153, 0.34);
    color: black;
    text-decoration: none;  
    cursor: pointer;
}


/* フレックスボックスたち */

.flex_box{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.box{
  display:flex;
  flex-direction: column;
  width: 40%;
  padding: 10px;
  margin: 10px;
}

.img{
    max-width: 300px;
    height: auto;

}

.text h{
font-size: 1vw;
text-align: center;
}

.text p{
    font-size: 1vw;
    text-align: left;
    }