.h2 {
  display: flex;
  width: 80%;
  margin: 0 auto;
  font-size: 30px;
  /* border:  1px solid #000; */
}

.genrelist {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0px auto;
  /* min-width: 100vw; */
  /* padding: 0 50px; */
  /* border: 1px solid #000; */
}

.all_genre {
  display: flex;
  width: 100%;
  margin: auto;
}

.genre {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  height: 50%;
  /* border: 1px solid #000; */
}

.genre:hover {
  opacity: 0.6;
}

.genre button {
  border: none;
  width: 100%;
  background-color: rgba(0, 0, 0 , 0);
  /* cursor: pointer; */
}

.genre img {
  width: 40%;
  height: auto;
  object-fit:cover;
}

.genre p {
  vertical-align: top;
  font-size: 20px;
  margin: 5px auto;
}

@media screen and (max-width:960px) {
  .h2 {
    font-size: 25px;
  }
  .genre {
  } 
  .genre p {
    font-size: 100%;
  }
}
