.p {
  width: 100%;
  margin-left: 5%;
  color: rgb(123, 116, 116);
}

.genrelist {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0px auto;
}

.all_genre {
  width: 30%;
  margin: auto;
}

.genre:hover {
  opacity: 0.6;
}

.genre button {
  border: none;
  width: 100%;
  background-color: rgba(0, 0, 0 , 0);
}

.genre img {
  width: 100%;
  height: auto;
  object-fit:cover;
}



@media screen and (max-width:960px) {

  .genre img {
    width: 100%;
    height: auto;
    object-fit:cover;
  }
}

@media screen and (max-width:700px) {

}
