.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(189, 140, 66, 0.3);
  background-color: #fff;
}

.header li {
  margin-right: 30px;
  padding: 10px 15px;
  font-weight: 700;
  border-radius: 100vh;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#f7ad4d),
    to(#ebd63c));
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.2);
}

.header li:hover {
  opacity: 0.6;

}

.header li:active {
  box-shadow: none;
  transform: translateY(1px);
}

.header ul {
  display: flex;
  list-style: none;
}

.header a {
  text-decoration: none;
  color: #4f4842;
}

.nav {
  cursor: pointer;
  display: flex;
}

/* ショッピングカートアイコンのCSS */
.false{
  display: none;
}

.off {
  display: none
}

.shoppingcart button{
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 40px;
  top: 25px;
  right: 2%;
}

.koala_on_cart button{
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 15px;
  right: 1%;
}

.koala_on_cart span{
  position: absolute;
  top: 9px;
  right: 33px;
  background-color: #e97007;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  text-align: center;
}

/* ハンバーガーメニュー用 */
.hamburger input {
  display: none;
}

.hamburger {
  margin-right: 2%;
  width: 55%;
}

@media screen and (max-width:768px) {
  .logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  .hamburger {
    width: 50px;
    height: 50px;
  }
  
  .nav {
    display: block;
    min-width: 100vw;
    height: auto;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: #f7ad4d;
    opacity: 0.8;
    transition: all 0.5s;
  }

  .menu_btn_check:checked ~ .nav {
    left: 0;
    transition: all 1s;
  }

  .nav ul {
    padding: 50px 10px 0;
    display: block;
    text-align: center;
  }
  
  .nav li {
    margin: 10px auto;
    color: #fff;
  }

  .nav a {
    color: #fff;
    /* border-bottom: 1px solid #000; */
  }

  .menu_btn {
    position: fixed;
    top: 5px; 
    right: 5px;
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    border: 1px solid #fff;
  }

  .menu_btn span,
  .menu_btn span:before,
  .menu_btn span:after {
    content: '';
    display: inline-block;
    height: 3px;
    width: 30px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
  }

  .menu_btn span:before {
    bottom: 8px;
  }

  .menu_btn span:after {
    top: 8px;
  }

  .menu_btn_check:checked ~ .menu_btn span {
    background-color: rgba(255, 255, 255, 0); /*メニューオープン時は真ん中の線を透明にする*/
  }

  .menu_btn_check:checked ~ .menu_btn span::before {
    bottom: 0;
    transform: rotate(45deg);
    transition: 0.5s;
  }
  .menu_btn_check:checked ~ .menu_btn span::after {
    top: 0;
    transition: 0.5s;
    transform: rotate(-45deg);
  }
}
