.header {
  background-color: #f8b856;
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: right;
  align-items: center;
  /* margin-bottom: 3%; */
}

.header li {
  text-decoration: none;
  text-decoration: none;
  color: #4f4842;
}

.logo {
  margin-left: 1%;
}

.logo span{
}

.header ul {
  display: flex;
  list-style: none;
}

.header li {
  margin-right: 30px;
  color: #4f4842;
  text-decoration: none;
}

.header a {
  text-decoration: none;
  color: #4f4842;
}

.header button {
  margin-right: 3%;
  background-color:  #00D698;
  color: #4f4842;
  border-radius: 3px;
  border: 1px solid  #4f4842;
}

.nav {
  margin: 0 0 0 auto;
  cursor: pointer;
}

.false{
  display: none;
}

.toggle {
  display: block;
    position: fixed;
    width: 42px;
    height: 42px;
    cursor: pointer;
    z-index: 3;
  right:15px;
}

.toggle span {
  display: block;
    position: absolute;
    width: 50px;
    border-bottom: solid 4px #333;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}

.toggle span:nth-child(1) {
  top: 5px;
}

.toggle span:nth-child(2) {
  top: 18px;
}

.toggle span:nth-child(3) {
  top: 32px;
}

.toggle.active span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.toggle.active span:nth-child(2),
.toggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
