.screen {
  position: relative;
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.aside{
    width: 19%;
    height: 100%;
    float: left;
    box-shadow: 2px 0 7px rgba(189, 140, 66, 0.3);
    padding-top: 2%;
    padding-bottom: 15%;
  }

  .main {
  margin-top: 80px;
}

/* ページング用のボタンのCSS */
.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    width: 30px;
    height: 30px;
    margin: 20px 5px;
    font-weight: 700;
    border-radius: 5px;
    background-color: white;
    border: 3px double  rgba(226, 143, 18, 0.3);
    box-shadow: 1px 2px #9bb0a5;
  }
  
  .buttons button:hover{
    opacity: 0.7;
  }
  
  .buttons button:active{
    box-shadow: none;
    transform: translateY(1px);
  }









  /* UP・DOWNボタン用のCSS */
/* .button_down{
        
        width: 7%;
        height: 5%;
        border: 0;
        border-radius: 10em;
        cursor: pointer;
        background-color: white ;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
        color: rgb(69, 69, 69);
        position: fixed;
        top: 20%; 
        left: 6px;
        font-size: 5px;
        opacity: 0.7;
        
    }

    .button_up{
        
        width: 7%;
        height: 5%;
        border: 0;
        border-radius: 10em;
        cursor: pointer;
        background-color: white   ;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
        color: gray ;
        position: fixed;
        bottom: 20%; 
        right: 20px;
        font: 5px;
        opacity: 0.7;


    }

    @media screen and (max-width:800px) {
        .button_down{
        
            width: 15%;
            height: 5%;
            border: 0;
            border-radius: 10em;
            cursor: pointer;
            background-color: white   ;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
            color: rgb(69, 69, 69);
            position: fixed;
            top: 70px; 
            left: 2px;
            font-size: 5px;
            opacity: 0.7;

            
        }
    
        .button_up{
            
            width: 15%;
            height: 5%;
            border: 0;
            border-radius: 10em;
            cursor: pointer;
            background-color: white   ;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
            color: gray ;
            position: fixed;
            bottom: 75px; 
            right: 7px;
            font: 5px;
            opacity: 0.7;

    
        }
        
    } */
