    /* スマホ */
    @media screen and (max-width:670px) {
        .Inquiry_form {
            text-align: center;
            padding: 5%;
        }
        
        .input_form {
            display: inline-block;
            text-align: left;
        }
        
        /*ボタン*/
        .button{
            text-align: center;
            margin: 1%;
        }
        
        .button_inside {
            background-color: #f8b856;
            border: none;
            border-radius: 3em;
            width: 30%;
            height: 20%;
            padding: 2%;
            cursor: pointer;
        }
        
        /*ここまでボタン*/
    }


    /* タブレット */
    @media only screen and (min-width:671px) and (max-width:1023px) {
        .Inquiry_form {
            text-align: center;
            padding: 5%;
        }
        
        .input_form {
            display: inline-block;
            text-align: left;
        }
        

        /*ボタン*/
        .button{
            text-align: center;
            margin: 1%;
        }
        
        .button_inside {
            background-color: #f8b856;
            border: none;
            border-radius: 3em;
            width: 200px;
            height: 50px;
            cursor: pointer;
        }
        
        /*ここまでボタン*/
    }


    /* PC */
    @media screen and (min-width:1024px) {

    .Inquiry_form {
        text-align: center;
        padding: 10px 20px;
    }

    .input_form {
        display: inline-block;
        text-align: left;
    }

    .button{
        text-align: center;
        margin: 1%;
    }

    .button_inside {
        background-color: #f8b856;
        border: none;
        border-radius: 3em;
        width: 200px;
        height: 50px;
        cursor: pointer;
    }


    }

    /* 送信完了画面の画像 */

        /* スマホ */
    @media screen and (max-width:670px) {
        .koala{
            margin-top:  20%;
        }
        
        
            /*完了画面のボタン*/
            
            .button_completed {
                background-color: #f8b856;
                border: none;
                border-radius: 3em;
                width: 35%;
                height: 5%;
                padding: 1% 0 1% 0;
                cursor: pointer;
                margin-top: 1%;
                margin-bottom: 5%;
                text-align: center;
            }
            .button_completed_position{
                text-align: center;
            }

    
    }


    /* タブレット */
    @media only screen and (min-width:671px) and (max-width:1023px) {
        .koala{
            margin-top:  10%;
        }
        
        
            /*完了画面のボタン*/
            
            .button_completed {
                background-color: #f8b856;
                border: none;
                border-radius: 3em;
                width: 35%;
                height: 5%;
                padding: 1% 0 1% 0;
                cursor: pointer;
                margin-top: 1%;
                margin-bottom: 5%;
                text-align: center;
            }
            .button_completed_position{
                text-align: center;
            }

    
    }



    /* PC */
    @media screen and (min-width:1024px) {
        .koala{
            margin-top:  10%;
        }
        
        
            /*完了画面のボタン*/
            
            .button_completed {
                background-color: #f8b856;
                border: none;
                border-radius: 3em;
                width: 15%;
                height: 5%;
                padding: 1% 0 1% 0;
                cursor: pointer;
                margin-top: 1%;
                margin-bottom: 5%;
                text-align: center;
            }
            .button_completed_position{
                text-align: center;
            }


    }



