.Inquiry_form {
    text-align: center;
    padding: 10px 20px;
}

.input_form {
    display: inline-block;
    text-align: left;
}

.button{
    text-align: center;
    margin: 10px;
}

.button_inside {
    background-color: aquamarine;
    border: none;
    border-radius: 3em;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.button_design{
    background-color: #f7ad4d;
    border: none;
    color: #f2f2f2;
    width: 200px;
    height: 30px;
    margin: 10px 50% 10px 42%;
    cursor: pointer;
    text-align: center;
    border-radius: 1em;
}

@media screen and (max-width:1000)and (min-width:671) {
    .Inquiry_form h1 {
        text-align: center;
        margin: 10px 50% 10px 42%;
        white-space: normal;
    }

    .koala{
        width: 50%;
        height: 30%;
        margin: 1px 25% 1px 40%;

    } 
}

@media screen and (max-width:670) {
    .Inquiry_form h1 {
        text-align: center;
        margin: 1px 20% 1px 20%;
        white-space: nowrap;
        word-wrap: normal;
        border: #f7ad4d solid 1px;
    }}

    @media screen and (max-width:670) {
    .koala {
        width: 10%;
        height: 5%;
        margin: 1px 5% 1px 10%;
    } 
}

@media screen and (max-width:670) {
    .button_design{
        background-color: #f7ad4d;
        border: none;
        color: #f2f2f2;
        width: 200px;
        height: 30px;
        margin: 10px -5% 10px 5%;
        cursor: pointer;
        text-align: center;
        border-radius: 1em;
}
}

.koala{
    margin: 1px 50% 1px 38%;
}