/* スマホ */
@media screen and (max-width:670px) {
      /* 全体 */
.inquiryList_box{
  max-width: 900px;
  margin: 0  auto;
}
.inquiryList_box form{
  width: 100%;
}
.inquiryList_box table {
  width: 100%;
}

.inquiryList_box label{
  font-size: 3vw;
}

/* 各行 */
.inquiryList_box table tr {
  position: relative;
}

.inquiryList_box table tr:first-child td:before {
   content: "";
   position: absolute;
   width: 90%;
   left: 0;
   top: 0;
   height: 1%;
  border-bottom: solid 1px rgba(28, 46, 83, 0.5);
}

.inquiryList_box form table tr th {
width: 37%;
font-weight: normal;
padding: 1em .5em;
background: #fbc76de8;
color: #525050;
position: relative;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-size: 1vh;
}

/* 項目下線 */
.inquiryList_box form table tr th:after {
content: "";
position: absolute;
width: 100%;
left: 0;
bottom: 0;
height: 1%;
border-bottom: solid 1px #fff;
}


.inquiryList_box form table tr td {
position: relative;
padding: 1em .5em;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

/* フォーム下線 */
.inquiryList_box form table tr td:after {
content: "";
position: absolute;
width: 90%;
left: 0;
bottom: 0;
height: 1%;
border-bottom: solid 1px rgba(39, 19, 60, 0.5);
}

.inquiryList_box form table tr .box_br {
  display: block;
}


.inquiryList_box form table tr select, 
.inquiryList_box form table tr textarea, 
.inquiryList_box form table tr .wide 
{
  width: 85%;
  height: 3em;
  padding: .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.inquiryList_box form table tr textarea {
  height: 10em;
}

.inquiryList_box form table tr textarea:focus {
  outline:orange 2px solid;
  border: none;
}

.input_width {
  width: 80%;
  height: 2%;
}

.inquiryList_box form table tr input:focus {
  outline:orange 2px solid;
  border: none;
}

.inquiryList_box   form table tr th span {
  padding: 0 .3em;
  color: #e81818;
  margin-left: .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

  /*ボタン*/

  .button_inside {
    background-color: #f8b856;
    border: none;
    border-radius: 3em;
    width: 15%;
    height: 5%;
    padding: 2%;
    margin: 3% 50% 3% 50%;
    cursor: pointer;
    font-size: 1vw;
}

.button_inside:hover{
  opacity: 0.6;
  transition: 0.3s;
  box-shadow: #f2f2f2;
  transform: rotateY(-2px);
}
  
}


/* タブレット */
@media only screen and (min-width:671px) and (max-width:1023px) {
    /* 全体 */
.inquiryList_box{
  max-width: 900px;
  margin: 0  auto;
}
.inquiryList_box form{
  width: 100%;
}
.inquiryList_box table {
  width: 100%;
}

/* 各行 */
.inquiryList_box table tr {
  position: relative;
}

.inquiryList_box table tr:first-child td:before {
   content: "";
   position: absolute;
   width: 80%;
   left: 0;
   top: 0;
   height: 1%;
  border-bottom: solid 1px rgba(28, 46, 83, 0.5);
}

.inquiryList_box form table tr th {
width: 30%;
font-weight: normal;
padding: 1em .5em;
background: #fbc76de8;
color: #525050;
position: relative;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

/* 項目下線 */
.inquiryList_box form table tr th:after {
content: "";
position: absolute;
width: 100%;
left: 0;
bottom: 0;
height: 1%;
border-bottom: solid 1px #fff;
}


.inquiryList_box form table tr td {
position: relative;
padding: 1em .5em;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

/* フォーム下線 */
.inquiryList_box form table tr td:after {
content: "";
position: absolute;
width: 80%;
left: 0;
bottom: 0;
height: 1%;
border-bottom: solid 1px rgba(39, 19, 60, 0.5);
}

.inquiryList_box form table tr .box_br {
  display: block;
}


.inquiryList_box form table tr select, 
.inquiryList_box form table tr textarea, 
.inquiryList_box form table tr .wide 
{
  width: 80%;
  height: 3em;
  padding: .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.inquiryList_box form table tr textarea {
  height: 10em;
}

.inquiryList_box form table tr textarea:focus {
  outline:orange 2px solid;
  border: none;
}

.input_width {
  width: 80%;
  height: 2em;
}

.inquiryList_box form table tr input:focus {
  outline:orange 2px solid;
  border: none;
}

.inquiryList_box   form table tr th span {
  padding: 0 .3em;
  color: #e81818;
  margin-left: .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

  /*ボタン*/

  .button_inside {
    background-color: #f8b856;
    border: none;
    border-radius: 3em;
    width: 15%;
    height: 5%;
    padding: 2%;
    margin: 3% 50% 3% 50%;
    cursor: pointer;
    font-size: 1vw;
}
.button_inside:hover{
  opacity: 0.6;
  transition: 0.3s;
  box-shadow: #f2f2f2;
  transform: rotateY(-2px);
}

}



/* PC */
@media screen and (min-width:1024px) {
  
  
  /* 全体 */
.inquiryList_box{
  max-width: 900px;
  margin: 0  auto;
}
.inquiryList_box form{
  width: 100%;
}
.inquiryList_box table {
  width: 100%;
}

/* 各行 */
.inquiryList_box table tr {
  position: relative;
}

.inquiryList_box table tr:first-child td:before {
   content: "";
   position: absolute;
   width: 100%;
   left: 0;
   top: 0;
   height: 1%;
  border-bottom: solid 1px rgba(28, 46, 83, 0.5);
}

.inquiryList_box form table tr th {
width: 30%;
font-weight: normal;
padding: 1em .5em;
background: #fbc76de8;
color: #525050;
position: relative;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.inquiryList_box form table tr th:after {
content: "";
position: absolute;
width: 100%;
left: 0;
bottom: 0;
height: 1%;
border-bottom: solid 1px #fff;
}

.inquiryList_box form table tr td {
position: relative;
padding: 1em .5em;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.inquiryList_box form table tr td:after {
content: "";
position: absolute;
width: 100%;
left: 0;
bottom: 0;
height: 1%;
border-bottom: solid 1px rgba(28, 46, 83, 0.5);
}

.inquiryList_box form table tr .box_br {
  display: block;
}


.inquiryList_box form table tr select, 
.inquiryList_box form table tr textarea, 
.inquiryList_box form table tr .wide 
{
  width: 100%;
  height: 3em;
  padding: .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.inquiryList_box form table tr textarea {
  height: 10em;
}

.inquiryList_box form table tr textarea:focus {
  outline:orange 2px solid;
  border: none;
}

.input_width {
  width: 50em;
  height: 2em;
}

.inquiryList_box form table tr input:focus {
  outline:orange 2px solid;
  border: none;
}

.inquiryList_box   form table tr th span {
  padding: 0 .3em;
  color: #e81818;
  margin-left: .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

  /*ボタン*/

  .button_inside {
    background-color: #f8b856;
    border: none;
    border-radius: 3em;
    width: 8%;
    height: 10%;
    margin: 3% 50% 3% 50%;
    cursor: pointer;
}

.button_inside:hover{
  opacity: 0.6;
  transition: 0.3s;
  box-shadow: #f2f2f2;
  transform: rotateY(-2px);
}

}



