.main {
    margin-top: 100px;
}

.item_detail {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 450px;
    margin: 50px auto;
    padding: 30px 0;
    border: solid 1px #F78404;
    border-radius: 5px;
}

.item_detail h1 {
    color: #E75304;
    font-size: 20px;
}

.image {
    width: 250px;
    height: 250px;
    object-fit:cover;
}

.item_detail p {
    width: 300px;
    margin: 15px auto;
}

.item_detail button {
    width: 200px;
    height: 30px;
    margin: 10px 0;
    border: 1px solid orange;
    border-radius: 15px;
    background-color: orange;
    box-shadow: 1px 2px #9bb0a5;
    color: #fff;
    font-size: 15px;
}

.item_detail button:hover {
    opacity: 0.6;
  }

.item_detail button:active{
    box-shadow: none;
    transform: translateY(1px);
}
