.topPage {
  padding-top: 15px;
  width: 80%;
  height: 100vh;
  float: right;
}

.aside{
  width: 17%;
  height: 100vh;
  float: left;
  box-shadow: 2px 0 7px rgba(189, 140, 66, 0.3);
}

.h2 {
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
  color: rgb(123, 116, 116);
}

.all_menu { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu {
  text-align: center;
  width: 25%;
  margin: 2%;
  font-size: 18px;
  padding: 1%;
  border: solid 1px rgba(226, 143, 18, 0.3);
  border-radius: 5px;
}

.menu:hover {
  opacity: 0.8;
  box-shadow: 0 7px 7px #9bb0a5;
}

.menu_link {
  text-decoration: none;
  color: #000;
}

.menu_img img{
  width: 180px;
  height: 180px
}

.menu button {
  width: 200px;
  height: 30px;
  border: 1px solid orange;
  font-weight: 700;
  border-radius: 15px;
  background-color: orange;
  color: #fff;
  font-size: 15px;
  box-shadow: 1px 2px #9bb0a5;
}

.menu button:hover {
  opacity: 0.6;
}

.menu button:active {
  box-shadow: none;
  transform: translateY(1px);
}

.shop_detail_menuName {
  font-size: 15px;
}

.shop_detail_menuPrice {
  font-size: 15px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttons input {
  margin: 5px;
  font-weight: 700;
  border-radius: 5px;
  background-color: white;
  border: 3px double  rgba(226, 143, 18, 0.3);
  box-shadow: 1px 2px #9bb0a5;
}

.buttons input:hover{
  opacity: 0.7;
}

.buttons input:active{
  box-shadow: none;
  transform: translateY(1px);
}


/* レスポンシブ */
@media screen and (max-width:960px) {
  .h2 {
    font-size: 25px;
  }
  .menu {
    width: 50%;
  }
}
@media screen and (max-width:768px) {
  .topPage {
    width: 100%;
    height: 100%;
  }

  .h2 {
    font-size: 18px;
  }

  .menu {
    width: 70%;
  }

  .topPage_aside {
    display: none;
  }
}
