.topPage {
  margin: 80px 0;
}

.h2 {
  display: flex;
  width: 80%;
  margin: 0 auto;
  font-size: 30px;
  /* border:  1px solid #000; */
}

.genre_area {
  margin: 50px auto;
}

.all_menu { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0px auto;
  /* border: 1px solid #000; */
}

.menu {
  text-align: center;
  margin: 50px auto;
  font-size: 20px;
  /* border: 1px solid #000; */
}

.menu_link {
  text-decoration: none;
  color: #000;
}

.menu_link:hover {
  opacity: 0.6;
}

.menu button {
  width: 250px;
  height: 30px;
  border: 1px solid orange;
  border-radius: 15px;
  background-color: orange;
  color: #fff;
  font-size: 15px;
}

.menu button:hover {
  opacity: 0.6;
}

/* レスポンシブ */
@media screen and (max-width:960px) {
  .h2 {
    font-size: 25px;
  }
  .menu {
    width: 50%;
  }
}
