.order_check_background{
    background-color: rgb(242, 242, 242);
}

/* order_check */

.order_check {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.order_check div{
    justify-content: center;
}


.order_check h1 {
    /* text-align: center; */
    margin: 40px 500px 30px;
    width: 300px;

    
}

.order_check_button {
    text-align: center;
    margin: 10px 500px 50px;
    width: 150px;
    height: 30px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    background-color: aquamarine    ;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
}

.order_check_button:hover{
    opacity: 0.6;
    transition: 0.3s;
    box-shadow: #ffffff;
    transform: rotateY(-2px);
}


/* order_list */

.order_list {
    border: 1px solid #ffffff;
    margin: 0 407px 40px;
    padding: 0 20px;
    width: 300px;
    height: auto;
    background-color: white ;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);

}

.order_list_details {
    border: 1px solid #000;
    padding: 0 20px;
}

.order_list_details p {
    color: red;
}

.order_list dt {
    text-align: left;
}
.order_list dd,
.order_list p {
    text-align: right;
}

.order_list_sub{
    text-align: center;
}


/* option */

.option {
    border: 1px solid #ffffff;
    width: 340px;
    margin: 0 407px 50px;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);


}

.option ul {
}

.option li {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 24px;
}

.option li::before {
    content: "・";
    position: absolute;
    left: 0;
}

.option label {
    flex-basis: 100px;
}

.option select,
.option button {
    margin-left: 8px;
}

/* select_pay */



.select_pay {
    border: 1px solid #ffffff;
    height: 80px;
    width: 340px;
    margin: 0 410px 50px;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);


}

.select_card {
    margin-left: 10px;
    margin-top: 15px;
}

.select_money {
    margin-left: 10px;
}




/* 画面にて規定 */

.order_check_box1{
    display: flex;
    flex-direction: column;

}

.order_check_box2{
    
}

.order_check_box3{
    
}

.order_check_box4{
    
}