.h1 {
    text-align: center;
    color:#E75304;
}

.order_history {
    text-align: center;
    width: 30%;
    margin: 0 auto;
    border: solid 5px #f8b856;
    border-radius: 30px;
    padding: 10px 20px;
    
}

.order_history h2 {
    text-align: left;
}

.order_history dd {
    text-align: left;
}

.order_history dt {
    text-align: left;
}

.order_history dt span{
    color: #F78404;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.order_history dd {
    text-align: right;
}

.link {
    text-align: right;
}

.buttons input {
    margin: 20px 5px;
}

.buttons {
    text-align: center;
}

/* ログイン前のお気に入りページ */
.favorite_login {
    margin: 70px 0;
    text-align: center;
}

.favorite_login_link a{
    color: white;
    border-bottom: none;
    background-color: #E75304;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.favorite_login_link img {
    width: 300px;
}

.background_orange {
    background-color: #fddaa5;
}

.dl {
    border: 3px solid #fddaa5;
}
