.main {
    margin-top: 90px;
}

.h1 {
    text-align: center;
    color:#E75304;
    font-size: 14px;
}

.order_history {
    text-align: center;
    width: 30%;
    margin: 0 auto;
    border: solid 1px rgba(226, 143, 18, 0.3);
    border-radius: 10px;
    padding: 10px 20px;
    
}

.order_history h2 {
    text-align: left;
    font-size: 20px;
}

.order_history dd {
    text-align: left;
}

.order_history dt {
    text-align: left;
}

.order_history dt span{
    color: #F78404;
    border-radius: 5px;
    font-weight: bold;
}

.order_history dd {
    text-align: right;
}

.link {
    text-align: right;
}

.link a {
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #f8b856;
    color: #fff;
    box-shadow: 1px 2px #9bb0a5
}

.link a:hover{
    opacity: 0.7;
}

.link a:active{
    box-shadow: none;
    transform: translateY(1px);
}

.buttons input {
    width: 30px;
    height: 30px;
    margin: 20px 5px;
    background-color:  white;
    font-weight: 700;
    border-radius: 5px;
    border: 3px double  rgba(226, 143, 18, 0.3);
    box-shadow: 1px 2px #9bb0a5;
}

.buttons input:hover{
    opacity: 0.7;
}

.buttons input:active{
    box-shadow: none;
    transform: translateY(1px);
}

.buttons {
    text-align: center;
}

/* ログイン前のコアラ */
.before_login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
}

.before_login a{
    color: white;
    background-color: #E75304;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

/* オレンジと白のボーダー */
.background_orange {
    background-color: #fddaa5;
}

.dl {
    border: 2px solid #fddaa5;
}

.map {
    width: 100%;
}

@media screen and (max-width:780px){

    .order_history {
        width: 85%;
    }

}
