/* ボタン */

.order_check_button {
    margin: 0px 10px 10px -50px;
    padding: 0;
    width: 150px;
    height: 30px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    background-color: #f8b856   ;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
    color: #ffffff;
}

@media screen and (max-width:670px) {
    .order_check_button {
        margin: 0 0 5% 0;
        padding: 0;
        width: 30%;
        height: 30%;
        border: 0;
        border-radius: 8px;
        cursor: pointer;
        background-color: #f8b856;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
        color: #ffffff;
    }
}

@media screen and (max-width:1000px) and (min-width:671px) {
    .order_check_button {
        margin: ;
        padding: 0;
        width: 30%;
        height: 0;
        border: 0;
        border-radius: 8px;
        cursor: pointer;
        background-color: #f8b856;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
        color: #ffffff;
    }
}


@media screen and (max-width:1000px) and (min-width:671px) {
    .order_check_button {
        margin: 0 50% 5% 50%;
        padding: 0;
        width: 30%;
        height: 30%;
        border: 0;
        border-radius: 8px;
        cursor: pointer;
        background-color: #f8b856;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
        color: #ffffff;
    }
} 


.order_check_button:hover{
    opacity: 0.6;
    transition: 0.3s;
    box-shadow: #ffffff;
    transform: rotateY(-2px);
}


/* order_list */

.order_list {
    border: 5px solid #f8b856;
    border-radius: 10px;
    margin: 0 50px;
    padding: 0 20px;
    width: 300px;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
}

.order_list_h1{
    margin: 5px 0 10px 70px;
    padding: 10px;

}



@media screen and (max-width:670px) {
    .order_list {
        border: 5px solid #f8b856;
        border-radius: 10px;
        margin: 0 5%;
        padding: 0 5%;
        width: 100%;
        background-color: white;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
    }
} 

@media screen and (max-width:1000px) and (min-width:671px) {
    .order_list {
        border: 5px solid #f8b856;
        border-radius: 10px;
        margin: 0 5%;
        padding: 0 5%;
        width: 100%;
        background-color: white;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
    }
} 

.delete_button:hover {
    opacity: 0.6;
}

.delete_button:active {
    box-shadow: 1px 2px #9bb0a5;
    transform: translateY(1px);
}

.order_list p {
    font-size: 18px;
}

/*クーポン  */
.order_list_details {
    border: 5px solid #f8b856;
    border-radius: 10px;
    margin: 0 0 0 70px;
    padding: 10px;
    width: 400px;
    background-color: rgb(255, 255, 255) ;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
}

.order_list_details_h1{
    margin: 5px 0 10px 70px;
    padding: 10px;

}


@media screen and (max-width:670px) {
    .order_list_details {
        border: 5px solid #f8b856;
        border-radius: 10px;
        margin: 0 5%;
        padding: 0 5%;
        width: 50%;
        background-color: rgb(255, 255, 255) ;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
    }
}

@media screen and (max-width:1000px) and (min-width:671px) {
    .order_list_details {
        border: 5px solid #f8b856;
        border-radius: 10px;
        margin: 0 5% 0 15%;
        padding: 0 5%;
        width: 100%;
        background-color: rgb(255, 255, 255) ;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
    }
}



.order_list_details p {
    color: red;
    white-space: nowrap ;
    font-size: 14px;
}


@media screen and (max-width:670px) {
    .order_list_details p {
        color: red;
        font-size: 14px;
        white-space: normal;
        word-wrap: normal;
    }
} 

@media screen and (max-width:1000px) and (min-width:671px) {
    .order_list_details p {
        color: red;
        font-size: 14px;
        white-space: normal;
        word-wrap: normal;
    }
} 

.order_list dt {
    text-align: left;
}
.order_list dd,
.order_list p {
    text-align: right;
}

.order_list_sub{
    text-align: center;
}


/* オプション */

.option {
    border: 5px solid #f8b856;
    border-radius: 10px;
    width: 420px;
    margin: 5px 0 10px 70px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
    padding: 10px 0px 10px 1px;
}

.option_h1{
    margin: 5px 0 10px 70px;
    padding: 10px;

}

@media screen and (max-width:1000px) and (min-width:671px) {
    .option {
        border: 5px solid #f8b856;
        border-radius: 10px;
        margin: 0 5% 0 15%;
        padding: 0 5%;
        width: 100%;
        background-color: white;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
        
    }
} 

@media screen and (max-width:670px) {
    .option {
        border: 5px solid #f8b856;
        border-radius: 10px;
        margin: 0 5%;
        padding: 0 5%;
        width: 50%;
        background-color: white;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
        
    }
} 



@media screen and (max-width:1000px) and (min-width:671px) {
    .option li {
        display: flex;
        /* align-items: center; */
        position: relative;
    }
}

.option li {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 24px;
}

.option li::before {
    content: "・";
    position: absolute;
    left: 0;
}

@media screen and (max-width:1000px) and (min-width:671px) {
    .option li::before {
        content: "・";
        position: absolute;
        left: 5%;
    }
}



.option label {
    flex-basis: 100px;
}

.option select,
.option button {
    margin-left: 8px;
}



/* お支払い方法 */

.select_pay {
    border: 5px solid #f8b856;
    border-radius: 10px;
    height: 80px;
    margin: 0 50px;
    padding: 0 20px;;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
}

.select_pay_h1{
    margin: 5px 0 10px 70px;
    padding: 10px;
}

@media screen and (max-width:1000px) and (min-width:671px) {
    .select_pay {
        border: 5px solid #f8b856;
        border-radius: 10px;
        height: 80px;
        margin: 0 30%%;
        padding: 0 %;
        width: 100%;
        background-color: white;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
    }
}

@media screen and (max-width:671px)  {
    .select_pay {
        border: 5px solid #f8b856;
        border-radius: 10px;
        margin: 0 5%;
        padding: 0 5%;
        width: 100%;
        background-color: white;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
    }
}

.select_card {
    margin-left: 10px;
    margin-top: 15px;
}

.select_money {
    margin-left: 10px;
}

/* 画面にて規定 */

.order_check_float1{
    float: left;
    vertical-align: top;
}


.order_check_float2{
    display: inline-block;
    vertical-align: top;   
}
