/* モーダル用のCSS */
.screen {
  position: relative;
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.close {
  position: absolute;
  top: 0;
  right: -400px;
  transition: all 0.7s ;
}

.open {
  z-index: 15;
  position: absolute;
  top: 0;
  right: 0px;
  width: 35%;
  height: 100%;
  background-color: white;
  border: 1px solid rgba(226, 143, 18, 0.3);
  overflow: scroll;
  transition: all 0.7s;
}

/* モーダルが開いている時の背景のCSS */
.true {
  width:100%;
  height:100vw;
  position: fixed;
  opacity: 0.3;
  z-index: 1;
}
