/* スマホ */
@media screen and (max-width:670px) {

/*画面全体*/
 
.order_check {
    margin-top: 100px;
    margin-left: 15%;
} 

/* 注文確定ボタン */

.order_check_button {
    /* text-align: center; */
    width: 15%;
    height: 4%;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    background-color: orange   ;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
    color: #ffffff;
    position: fixed;
    bottom: 10%; 
    right: 1%;
    font-size: 0.5vw;
    opacity: 0.5;
}

.order_check_button:hover{
    opacity: 0.9;
    transition: 0.3s;
    box-shadow: #ffffff;
    transform: rotateY(-2px);
}

/*注文リスト*/

.order_list {
    border: 5px solid #f8b856;
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    background-color: rgb(255, 254, 254);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);

}

/* 注文リスト内商品名 */
.order_list dt {
    text-align: left;
}

/* 注文リスト内個数金額小計 */
.order_list dd,
.order_list p {
    text-align: right;
}

/* 注文リスト小計(フォントサイズ) */
.order_list p {
    font-size: 18px;
}

/*クーポン  */
.order_list_details {
    border: 5px solid #f8b856;
    border-radius: 10px;
    /* margin: 0 0 0 70px; */
    padding: 1% 1% 1% 5%;
    width: 70%;
    background-color: rgb(255, 255, 255) ;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
    
}

/*クーポン枠内メッセージ*/
.order_list_details p {
    color: red;
    white-space: normal ;
    font-size: 5vw;
}

/* 注文リストページの削除ボタン */
.delete_button {
  background-color:  #00D698;
  color: #4f4842;
  border-radius: 10px;
  border: 2px solid  #fff;
  box-shadow: 1px 2px #9bb0a5;
}

.delete_button:hover {
    opacity: 0.6;
}

.delete_button:active {
    box-shadow: none;
    transform: translateY(1px);
}

/*ここまで削除ボタン  */

/* エラーメッセージ */
.ok {
    display: none;
    margin-left: 13%;
}

.alert {
    margin-left: 13%;
    color: red;
    font-weight: bold;
}
/*ここまでエラー*/


/* オプション */

.option {
    border: 5px solid #f8b856;
    border-radius: 10px;
    width: 75%;
    /* margin: 5px 0 10px 70px; */
    padding: 10px;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
    padding: 10px 0px 10px 1px;
}


/*オプション食具*/
.option li {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 24px;
}

/* オプションの・ */
.option li::before {
    content: "・";
    position: absolute;
    left: 0;
}

/* オプションの項目の枠*/
.option label {
    flex-basis: 100px;
}

/* オプションの右 */
.option select,
.option button {
    margin-left: 8px;
}

/* お支払い方法 */

.select_pay {
    border: 5px solid #f8b856;
    border-radius: 10px;
    height: 80px;
    width: 70%;
    /* margin: 0 0 10px 55px; */
    padding: 10px;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
}

/* クレカの文字 */
.select_card {
    margin-left: 10px;
    margin-top: 15px;
}

/* 現金の文字 */
.select_money {
    margin-left: 10px;
}

 /* 各ブロックのマージン */

     
    

}
       

/* タブレット */
@media only screen and (min-width:671px) and (max-width:1023px) {

/*画面全体*/
.order_check {
    margin-top: 100px;
    margin-left: 20%;
}

/* 注文確定ボタン */

.order_check_button {
    /* text-align: center; */
    padding: 0;
    width: 15%;
    height: 3%;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    background-color: orange   ;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
    color: #ffffff;
    position: fixed;
    bottom: 7%; 
    right: 0.5%;
    opacity: 0.5;
}

.order_check_button:hover{
    opacity: 0.9;
    transition: 0.3s;
    box-shadow: #ffffff;
    transform: rotateY(-2px);
}

/*注文リスト*/

.order_list {
    border: 5px solid #f8b856;
    border-radius: 10px;
    /* margin: 0 50px; */
    padding: 10px;
    width: 75%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
}

/* 注文リスト内商品名 */
.order_list dt {
    text-align: left;
}

/* 注文リスト内個数金額小計 */
.order_list dd,
.order_list p {
    text-align: right;
}

/* 注文リスト小計(フォントサイズ) */
.order_list p {
    font-size: 18px;
}

/*クーポン  */
.order_list_details {
    border: 5px solid #f8b856;
    border-radius: 10px;
    padding: 1%;
    width: 75%;
    background-color: rgb(255, 255, 255) ;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
    
}

/*クーポン枠内メッセージ*/
.order_list_details p {
    color: red;
    white-space: nowrap ;
    font-size: 14px;
}

/* 注文リストページの削除ボタン */
.delete_button {
  background-color:  #00D698;
  color: #4f4842;
  border-radius: 10px;
  border: 2px solid  #fff;
  box-shadow: 1px 2px #9bb0a5;
}

.delete_button:hover {
    opacity: 0.6;
}

.delete_button:active {
    box-shadow: none;
    transform: translateY(1px);
}

/*ここまで削除ボタン  */

/* エラーメッセージ */
.ok {
    display: none;
    margin-left: 13%;
}

.alert {
    margin-left: 13%;
    color: red;
    font-weight: bold;
}
/*ここまでエラー*/


/* オプション */

.option {
    border: 5px solid #f8b856;
    border-radius: 10px;
    width: 77%;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
    padding: 10px 0px 10px 1px;
}


/*オプション食具*/
.option li {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 24px;
}

/* オプションの・ */
.option li::before {
    content: "・";
    position: absolute;
    left: 0;
}

/* オプションの項目の枠*/
.option label {
    flex-basis: 100px;
}

/* オプションの右 */
.option select,
.option button {
    margin-left: 8px;
}

/* お支払い方法 */

.select_pay {
    border: 5px solid #f8b856;
    border-radius: 10px;
    height: 80px;
    width: 75%;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
}

/* クレカの文字 */
.select_card {
    margin-left: 10px;
    margin-top: 15px;
}

/* 現金の文字 */
.select_money {
    margin-left: 10px;
}

 /* 各ブロックのマージン */

.order_check_float1{

}

.order_check_float2{
}      

    }


/* PC */


@media screen and (min-width:1024px) {
    
/*画面全体*/
.main {
    margin-top: 100px;
}

.order_check {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* 注文確定ボタン */

.order_check_button {
    display: inline-block;
    width: 150px;
    height: 30px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    background-color: orange   ;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
    color: #ffffff;
    position: fixed;
    bottom: 3%; 
    right: 6%;
    opacity: 0.5;
}

.order_check_button:hover{
    opacity: 0.9;
    transition: 0.3s;
    box-shadow: #ffffff;
    transform: rotateY(-2px);
}

/*注文リスト*/

.order_list {
    border: 5px solid #f8b856;
    border-radius: 10px;
    /* margin: 0 50px; */
    margin: 1%;
    padding: 10px;
    width: 420px;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
}

/* 注文リスト内商品名 */
.order_list dt {
    text-align: left;
}

/* 注文リスト内個数金額小計 */
.order_list dd,
.order_list p {
    text-align: right;
}

/* 注文リスト小計(フォントサイズ) */
.order_list p {
    font-size: 18px;
}

/*クーポン  */
.order_list_details {
    border: 5px solid #f8b856;
    border-radius: 10px;
    /* margin: 0 0 0 70px; */
    margin: 1%;
    padding: 1% 1% 1% 5%;
    width: 420px;
    background-color: rgb(255, 255, 255) ;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
    
}

/*クーポン枠内メッセージ*/
.order_list_details p {
    color: red;
    white-space: nowrap ;
    font-size: 14px;
}

/* 注文リストページの削除ボタン */
.delete_button {
  background-color:  #00D698;
  color: #4f4842;
  border-radius: 10px;
  border: 2px solid  #fff;
  box-shadow: 1px 2px #9bb0a5;
}

.delete_button:hover {
    opacity: 0.6;
}

.delete_button:active {
    box-shadow: none;
    transform: translateY(1px);
}

/*ここまで削除ボタン  */

/* エラーメッセージ */
.ok {
    display: none;
    margin-left: 13%;
}

.alert {
    margin-left: 13%;
    color: red;
    font-weight: bold;
}
/*ここまでエラー*/


/* オプション */

.option {
    border: 5px solid #f8b856;
    border-radius: 10px;
    width: 440px;
    /* margin: 5px 0 10px 70px; */
    margin: 1%;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
    padding: 10px 0px 10px 1px;
}


/*オプション食具*/
.option li {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 24px;
}

/* オプションの・ */
.option li::before {
    content: "・";
    position: absolute;
    left: 0;
}

/* オプションの項目の枠*/
.option label {
    flex-basis: 100px;
}

/* オプションの右 */
.option select,
.option button {
    margin-left: 8px;
}

/* お支払い方法 */

.select_pay {
    border: 5px solid #f8b856;
    border-radius: 10px;
    height: 80px;
    width: 420px;
    /* margin: 0 0 10px 55px; */
    margin: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.522);
}

/* クレカの文字 */
.select_card {
    margin-left: 10px;
    margin-top: 15px;
}

/* 現金の文字 */
.select_money {
    margin-left: 10px;
}

 /* 各ブロックのマージン */

.order_check_float1{

    margin: 0% 5% 0% 0%;
}

.order_check_float2{
    margin: 0% 0% 0% 5%; 
}  

}   
