.order_list {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
}

.order_list_h1 {
    display: flex;
    justify-content: center;
    color: #E75304;
    white-space: nowrap;
}

/* 購入画面へ */
.transition_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 200px;
    height: 30px;
    border: 1px solid #f8b856;
    border-radius: 15px;
    background-color: #f8b856;
    color: #fff;
    font-size: 15px;
}

.transition_button:hover {
    opacity: 0.6;
}
