
/* 検索アイコン */
.search_icon {
  display: none;
}

.false {
  display: none;
}

.true {
  display: none;
}

@media  screen and (max-width:768px){
  /* 検索アイコン */
  .search_icon {
    display: block;
    position: fixed;
    top: 27px;
    left: 20px;
    z-index: 10;
  }

  .true {
    display: block;
    position: absolute;
    top: 80px;
    left:0;
    transition: 1s;
  }

  .false {
    display: block;
    position: absolute;
    top: 80px;
    left: -100vw;
    transition: 0.8s;
  }
}
