/* ショップ一覧ページのCSS */

.shop_list_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 78%;
}

.shop_list {
    width:27%;
    border: solid 1px rgba(226, 143, 18, 0.3);
    border-radius: 5px;
    margin: 1%;
    place-items: center;
    padding: 1%;
}

.shop_list a{
    text-decoration: none;
}

.shop_list a:hover{
    opacity: 0.7;
}

.shop_list_name {
    color: #E75304;
    margin-left: 5%;
    font-size: 16px;
}

.shop_list_score {
    color: #F78404;
    margin-right: 5%;
    text-align: end;
    font-size: 12px;
}

.shop_list_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop_list_image img {
    object-fit:cover;
    margin-bottom: 1%;
}

.shop_list_image img:hover {
    box-shadow: 0 7px 7px #9bb0a5;
    opacity: 0.7;
}

/* ショップ一覧ページのメニューのCSS */

.shop_menu_list {
    display: flex;
    justify-content: center;
}

.shop_list_menu {
    padding: 15px 0;
}

.shop_list_menuImg img{
    object-fit:cover;
}

.shop_list_menuImg img:hover {
    box-shadow: 0 7px 7px #9bb0a5;
    opacity: 0.7;
}



/* ショップ詳細ページのCSS */

.shop_menu {
    text-align: center;
    flex:1;
}

.shop_menu_list {
    display: flex;
    flex: 2;
}

.shop_list_button span{
    text-decoration: none;
}

.shop_list_description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop_list_description {
    text-align: center;
    white-space:pre;
}

.shop_menu button {
    width: 90%;
    height: 30px;
    border: 1px solid orange;
    border-radius: 15px;
    background-color: orange;
    color: #fff;
    font-size: 85%;
    box-shadow: 1px 2px #9bb0a5;
  }

.shop_menu button:hover {
    opacity: 0.7;
}

.shop_menu button:active {
  box-shadow: none;
  transform: translateY(1px);
}



/* ログイン前のお気に入りページ */
.favorite_login {
    margin: 90px 0;
    text-align: center;
}

.favorite_login_link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.favorite_login_link a{
    color: white;
    border-bottom: none;
    background-color: #E75304;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.favorite_login_link img {
    width: 300px;
}

.shop_menu a {
    text-decoration: none;
    color: black;
}



/* ログイン後のfavoriteページ */
.favorite {
    margin:10% 0;
}

@media screen and (max-width:1120px) {
    .shop_list {
        width:45%;
        border: solid 3px #F78404;
        border-radius: 5px;
        margin: 0 8px 15px 8px;
        place-items: center;
    }
  }
@media screen and (max-width:780px) {
    .shop_list {
        width:100%;
        border: solid 3px #F78404;
        border-radius: 5px;
        margin: 0 8px 15px 8px;
        place-items: center;
    }
  }

  /* モーダル用のCSS */
  .screen {
    position: relative;
    top: 0;
    left: 0;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
  }

.close {
    position: absolute;
    top: 0;
    right: -400px;
    transition: all 0.7s ;
  }
  
  .open {
    z-index: 15;
    position: absolute;
    top: 0;
    right: 0px;
    width: 35%;
    height: 100%;
    background-color: white;
    border: 1px solid rgba(226, 143, 18, 0.3);
    overflow: scroll;
    transition: all 0.7s;
  }
  
  /* モーダルが開いている時の背景のCSS */
  .true {
    width:100%;
    height:100vw;
    position: fixed;
    opacity: 0.3;
    z-index: 1;
  }
  
  