/* [id]のCSS */
.main {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.contents {
    width: 70%;
    margin: 50px auto;
    border:solid 1px #f8b856;
    border-radius: 10px;
}

.bread {
    margin-left: auto;
}

.shop_id_image {
    margin: 5%;
    width: 40%;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.shop_id_name {
    margin-left: 5%;
    color: #E75304;
}

.shop_id_score {
    color: #F78404;
    font-size: 18px;
    font:bold;
}

.shop_id_description {
    text-align: center;
    white-space:pre;
}

.shop_id_menu_list {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
}

.shop_id_menu {
    flex: 1;
    text-align: center;
}

.shop_id_menu a {
    text-decoration: none;
    color:black;
}

.shop_id_menu_list img {
    object-fit:cover;
}

.shop_id_menu:hover{
    opacity: 0.8;
}

.shop_id_menu img:hover {
    box-shadow: 0 7px 7px #9bb0a5;
}

.shop_id_menu img:active {
    box-shadow: none;
    transform: translateY(1px);
}

/* reviewのCSS */

.shopDetail_review {
    padding-bottom: 50px;
    margin:0 15%;
}

.shop_id_review_title{
    margin: 30px 0 30px 0;
}

.shop_id_review_title span {
    background-color: #E75304;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
}

.review {
    border: solid 3px #f8b856;
    border-radius: 5px;
    padding:2% 0;
    margin-bottom: 20px;
}

.review_img{
    text-align: center;
}

.review_img img{
    object-fit: cover;
}

.review_score{
    text-align: end;
    margin-right: 5%;
    color: #F78404;
}

.review_name,.review_date {
    margin-left: 5%;
}

.review_name {
    display: grid;
    place-items: center;
    font-size: large;
    color:#E75304;
    font-weight: bold;
}

.review_detail {
    margin:0 5%;
}

.review p{
    text-align: center;
}

.review_delete {
    margin: 10px 0;
    text-align: center;
}


/* ReviewFormのCSS */
.review_form_title{
    margin: 30px 0 30px 0;
}

.review_form_title span {
    background-color: #E75304;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    margin:0 15%;
}

.review_form {
    padding-bottom: 70px;
    margin:0 15%;
}

.not_review {
    text-align: center;
}

.review_forms {
    margin: 0 8%;
}

.review_forms textarea,.review_forms_name input {
    width:100%;
}

.review_forms_name input {
    height:25px
}

.review_forms_name,.review_forms_date,.review_forms_score,.review_forms_review,.review_forms_img {
    margin:20px 0;
}

.review button {
    background-color: #E75304;
    color: white;
    border-radius: 5px;
    border: none;
    width:40px;
    height:30px;
}

.review_form {
    text-align: center;
  }
  
  .review_forms_button {
    display: inline-block;
    margin: 0 auto;
  }

.review_forms_flexbox {
    display: flex;
    justify-content: center;
    flex: 2;
}

.review_forms_date,.review_forms_score {
    flex: 1;
}

.review_forms_date label,.review_forms_score label {
    background-color: #F78404;
    width:40px;
    height:30px;
    color: white;
    padding: 5px 10px;
}

.error_name,.error_date,.error_score,.error_review,.error_overReview {
    font-size: small;
    color: red;
    }

/* favorite_buttonのCSS */

.shop_favorite_true,.shop_favorite_false ,.shop_favorite_true_start{
    text-align: right;
    margin-right: 20%;
}

.shop_favorite_true::before{
    text-align: right;
}

.shop_favorite_true button ,.shop_favorite_true_start button{
    border: none;
    color:rgb(235, 70, 73);
    background-color: transparent;
    width:30px;
    height:auto;
    cursor: pointer;
    font-size: large;
    position: relative;
    display: inline-block;
}

.shop_favorite_false button{
    border: none;
    color:gray;
    background-color: transparent;
    width:30px;
    height:auto;
    cursor: pointer;
    font-size: large;
}

.shop_favorite_true::before,.shop_favorite_true::after{
    content:"";
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    opacity: 0;
}

.shop_favorite_true::before{
    font-family: "Font Awesome 6 Free";
    content: "\f004";
    border: none;
    color:rgb(235, 70, 73);
    animation-name:heart;
    animation-duration:0.5s;
    animation-iteration-count: 1;
    position: absolute;
    text-align: right;
    width:30px;
    height:auto;
    font-size: large;
}


.shop_favorite_true::after{
    font-family: "Font Awesome 6 Free";
    content: "\f004";
    border: none;
    color:rgb(235, 70, 73);
    animation-name:heart_after;
    animation-duration:0.5s;
    animation-iteration-count: 1;
    position: absolute;
    text-align: left;
    width:30px;
    height:auto;
    font-size: large;
}


@keyframes heart {
    0% {
        opacity: 0;
        transform:translateY(0px) translateX(0px) 
      }
    25% {
        transform: translateY(-5px) translateX(10px) ;
        opacity: 1;
      }

    75% {
        transform:translateY(-10px) translateX(20px) ;
        opacity: 1;
      }
    100% {
        transform: translateY(-20px) translateX(30px) ;
        opacity: 0;
      }
}
@keyframes heart_after {
    0% {
        opacity: 0;
        transform:translateY(0px) translateX(-20px) ;
      }
    25% {
        transform: translateY(-5px) translateX(-30px) ;
        opacity: 1;
      }

    75% {
        transform:translateY(-10px) translateX(-40px) ;
        opacity: 1;
      }
    100% {
        transform: translateY(-20px) translateX(-50px) ;
        opacity: 0;
      }
}

@media  screen and (max-width:780px) {
    .shopDetail_review {
        margin: 0 auto;
        padding-bottom: 10px;
    }

    .review_form_title span {
        margin:0 auto;
    }

    .review_form {
        padding-bottom: 20px;
        margin:0 auto;
    }
}
