/* [id]のCSS */
.shop_detail_img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.shop_detail_name {
    margin-left: 20%;
}

.shop_detail_grade{
    text-align: right;
    margin-right: 20%;
}


.shop_detail_description{
    text-align: center;
}

.shop_detail_description {
    white-space:pre;
}

.shop_detail_menu{
    text-align: center;
}

.shopDetail_review {
    padding-bottom: 70px;
}

.shop_detail_reviewTitle{
    margin-left: 20%;
}

.shop_review {
    padding: 30px 0;
}

.shop_detail_reviewImg img{
    width: auto;
    height:60px;
}

.shop_detail_review,.shop_detail_reviewImg{
    display: inline-block;
    float: left;
    margin-left: 20%;
}

.shop_detail_review{
    border: solid;
    height: 55px;
    margin-left: 30px;
    padding:5px;
    width: 60%;
    word-wrap: break-word;
    vertical-align: middle;
}

.shop_menu{
    width: 25%;
    display: inline-block;
    padding: 0 20px;
}

.shop_detail_menuImg img{  
    width: 100%;
    height: auto;
    align-items: center;
}





/* その他 */
.shop_detail,.shopList,.shopFavorite{
    width: 100%;
}


.shopList_menu,.shopFavorite_menu{
    text-align: center;
}

.shop_favorite_true,.shop_favorite_false{
    text-align: right;
    margin-right: 20%;
}


.shopList_shop,.shopFavorite_shop{
    width: 33%;
    height:auto;
    float: left;
}
.shopList_menu,.shopList_name,.shopFavorite_menu,.shopFavorite_name{
    display: inline-block;
}

.shop_favorite_true button{
    border: none;
    background-color: rgb(235, 70, 73);
    color:white;
    border-radius: 5px;
    width:40px;
    height:30px;
}

.shop_favorite_false button{
    border: none;
    background-color: white ;
    color:gray;
    border-radius: 5px;
    width:40px;
    height:30px;
}
