.background {
    min-width: 100vw;
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
}

.logo {
    text-align: center;
    margin-top: 100px;
}

.logo h1 {
    margin-top: 0;
    color: #fff;
    -webkit-text-stroke: 1px #f7ad4d;
    text-shadow: 3px 3px #f7ad4d;
}

.form_position{
    background-color: #fff;
    width: 400px;
    margin: 0px auto;
    padding: 0 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.3);
}

.form_position h2 {
    text-align: center;
    border-bottom: 1px solid #01a174;
    margin-bottom: 0;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    color: #2a1c0e;
}

.message {
    margin-top: 5px;
    font-size: 13px;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    color: #2a1c0e;
}

.form_position label {
    font-size: 13px;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    color: #2a1c0e;
}

.form_position input {
    height: 30px;
    border-radius: 3px;
    caret-color: #b8a99a;
}

.form_position input:focus {
    outline: 2px solid #b8a99a ;
}

.name,
.email,
.zipcode,
.address,
.phone_number,
.password,
.password2 {
    margin: 10px 0;
}

.name input,
.email input,
.address input,
.phone_number input,
.password input,
.password2 input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: #f2f2f2;
}

.zipcode input {
    border: none;
    background-color: #f2f2f2;
}

.search_button {
    cursor: pointer;
}

.ok {
    display: none;
    margin-top: 0;
    font-size: 12px;
}
.alert {
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    color: rgb(255, 0, 0);
    margin-top: 0;
    font-size: 13px;
}

.border {
    margin: -5px 0 20px 0;
    border-top: 1px solid #01a174;
}

.submit_button {
    display: block;
    text-align: center;
    width: 400px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #f7ad4d;
    border-color: #f7ad4d;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.submit_button:hover {
    opacity: 0.6;
    transition: 0.5s; 
    box-shadow: 1px 2px #9bb0a5;
    transform: translateY(-2px);
}
